<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My Recipes | <%= title %></title>

    <style>

        body {
            max-width: 100vw;
            margin: auto auto;
            padding: 0 20px;
        }

        nav {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
            text-transform: uppercase;
        }
        nav ul {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
        }
        nav li {
            list-style-type: none;
            margin-left: 20px;
        }
        nav h1 {
            font-size: 3em;
        }
        nav p,
        nav a {
            color: #777;
            font-weight: 300;
        }

        p, h1, h2, h3, a, ul {
            margin: 0;
            padding: 0;
            text-decoration: none;
        }

    </style>

</head>