<nav>
    <div class="site-title">
        <a href="/">
            <h1>My Recipes</h1>
        </a>
        <p>Made by Divyansh Sharma</p>
    </div>
    <ul>
        <li><a href="/">Recipes</a></li>
        <li><a href="/recipes/create">New Recipe</a></li>
    </ul>
</nav>